img {
    display: flex;
    justify-content: center;
    padding: 50px 25px 35px 25px;
    margin: auto;
}
.large {
    font-family: sans-serif;
    font-size: 42px;
    margin: 10px;
    padding: 5px;
    justify-content: center;
    display: flex;
    gap: 10px;
    font-weight: 530;
}
.second-large {
    font-family: sans-serif;
    font-size: 42px;
    margin: 10px;
    padding: 5px;
    justify-content: center;
    display: flex;
    font-weight: 530;
}
.small {
    justify-content: center;
    display: flex;
    font-family: sans-serif;
    font-size: 20px;
    margin: 15px 15px 60px 15px;
    padding: 5px;
    
} 
span {
    color: green;
}
.main-cards {
    justify-content: center;
    flex-direction: row;
    display: flex;
    /* border-radius: 57px; */
    /* border: 3px solid red; */
}
.col.lg-4 {
    border-radius: 13px;
    border: 3px solid red;
    row-gap: 10px;
    gap: 10px;
    margin: 4%;
    padding: 10px;
}
.main-cards {
    justify-content: center;
    /* flex-direction: row; */
    display: flex;
    /* border-radius: 57px; */
    /* border: 3px solid red; */
    margin: 10px;
    padding: 10px;
    align-content: center;
    gap: 10px;
}
.card1 {
    border: 3px solid red;
    border-radius: 10px;
    gap: 10px;
    margin: 2%;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.card2 {
    border: 3px solid red;
    border-radius: 10px;
    gap: 10px;
    margin: 2%;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.card3 {
    border: 3px solid red;
    border-radius: 10px;
    gap: 10px;
    margin: 2%;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
}